 




/* HERO */
.hero {
  height: 100vh;
  background: url(img/image1.png) center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.hero-content {
  position: relative;
  color: white;
  text-align: center;
}

.hero-content h1 {
  font-size: 60px;
}

.hero-content p {
  margin: 20px 0;
  font-size: 20px;
}

.hero-content  a button {
  padding: 12px 25px;
  border: none;
  background: #ff9800;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* MENU */
.menu {
  margin-top: 80px;
  text-align: center;
}

.menu h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

/* CARDS */
.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 300px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

.card-body h3 {
  margin-bottom: 10px;
}

.card-body p {
  font-size: 14px;
  color: #555;
}

.card-body span {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #ff9800;
}

/* GALERÍA */
.galeria {
  margin-top: 60px;
  text-align: center;
}

.galeria h2 {
  margin-bottom: 30px;
  font-size: 32px;
  font-family: 'Courier New', Courier, monospace;
}

/* GRID DE 12 IMÁGENES */
.grid-galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  gap: 15px;
}

.grid-galeria img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s;
}

.grid-galeria img:hover {
  transform: scale(1.05);
}


/* PESTAÑAS */
/* Tabs */
.tabs {
    display: flex;
    background: #eee;
}

.tab-btn {
    flex: 1;
    padding: 15px;
    border: none;
    cursor: pointer;
    background: transparent;
    font-size: 16px;
    transition: 0.3s;
}

.tab-btn:hover {
    background: #ddd;
}

.tab-btn.active {
    background: #c92c3a;
    color: white;
}

/* Contenido */
.contenido {
    position: relative;
    min-height: 150px;
    padding: 20px;
}

/* Animación */
.tab-content {
    position: absolute;
    width: 100%;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.4s ease;
    pointer-events: none;
}

.tab-content.active {
    opacity: 1;
    transform: translateY(0);
    position: relative;
    pointer-events: all;
}
