/* CONTENEDOR */
.menu-container {
    display: flex;
    justify-content: center;
    padding: 100px 20px 50px 20px;
}

.menu-card {
    width: 100%;
    max-width: 1200px;
}

.menu-card h1 {
    text-align: center;
}

/* NAV */
.menu-nav {
    margin-block: 20px;
    text-align: left;
}

.menu-btn {
    background: #2ecc71;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

/* TABLA GLOBAL */
#tablaPlatos th,
#tablaPlatos td {
    text-align: center;
    vertical-align: middle;
}

/* IMAGEN */
.menu-img {
    width: 80px;
    border-radius: 5px;
    display: block;
    margin: 0 auto; 
}

/* ESTADO */
.menu-estado {
    text-align: center;
}

/* ACCIONES */
.menu-acciones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* IMPORTANTE: quitar margen del form */
.menu-acciones form {
    margin: 0;
}

/* BOTONES */
.menu-btn-editar {
    background: #3498db;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.menu-btn-eliminar {
    background: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* HOVER  */
.menu-btn-editar:hover {
    background: #2980b9;
}

.menu-btn-eliminar:hover {
    background: #c0392b;
}

